.title {
    text-align: center;
    color: #e0e0e0;
    margin-top:15px;
    margin-bottom:15px;
}

.sub-heading {
    text-align: center;
    padding-top:5px;
}

.login-textfields {
text-align: center;
}

.left {
    background-color: #e0e0e0;
    border-radius: 5px;
    padding:5px;
    margin-right:2px;
    margin-left:2px;
    -webkit-box-shadow: 10px 11px 20px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 11px 20px -12px rgba(0,0,0,0.75);
    box-shadow: 10px 11px 20px -12px rgba(0,0,0,0.75);
    border: 2px solid #6d6c6c;
}

.right {
    background-color: #e0e0e0;
    border-radius: 5px;
    padding:5px;    
    margin-right:2px;
    margin-left:2px;
    -webkit-box-shadow: 10px 11px 20px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 11px 20px -12px rgba(0,0,0,0.75);
    box-shadow: 10px 11px 20px -12px rgba(0,0,0,0.75);
    border: 2px solid #6d6c6c;
}

.button {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 2px;
    border-radius: 5px;
    background-color:#cacaca;
    color:black;
    
}

.button:hover {
    background-color: #b5b5b5;
    color:black;
}

.levels-div {
    text-align: center;
    padding-top: 5px;
}

.level-button {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
}

.login-buttons {
    margin-top: 2px;
    background-color:#cacaca;
}

.login-buttons:hover {
    background-color: #b5b5b5;
}

td {
    padding: 7px;
}

table {
    width: 100%;
}

.users-table {
    overflow-y:scroll; 
    height:250px;
}

@media only screen and (max-width: 1000px) {
    .table-toHide {
      display:none;
    }
}