body {
    color:#ffffff;
}

.title {
    text-align: center;
    color: #00ff81;
    margin-bottom:15px;
    margin-top: 15px;
}

.sub-heading {
    text-align: center;
    padding-top:5px;
    padding-bottom: 5px;
    color:#00ff81;
}

.login-textfields {
    text-align: center;
    margin-bottom: 2px;
}

.content-box {
    background-color: #4c4c4c;
    border-radius: 5px;
    padding:5px;
    margin-right:2px;
    margin-left:2px;
    margin-top:5px;
    -webkit-box-shadow: 10px 11px 20px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 11px 20px -12px rgba(0,0,0,0.75);
    box-shadow: 10px 11px 20px -12px rgba(0,0,0,0.75);
    border: solid 2px #706f6f;
}

.levels-div {
    text-align: center;
    padding-top: 5px;
}

.level-button {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #716f6f;
    color: #00ff81;
}

.level-button:hover {
    background-color: #808080;
    color: #00ff81;
}

.login-buttons {
    margin-top: 2px;
    background-color:#6d6d6d;
    color:#00ff81;
}

.login-buttons:hover {
    background-color: #828282;
}

.users-table {
    overflow-y:scroll; 
    height:250px;
}

.play-table {
    overflow-y:scroll; 
    height:250px;
}

.signout-btn {
    padding-left: 5px;
    padding-right: 15px;
    color: #ffffff;
    border:none; 
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    float:right;
}

#footer {
    color: #00ff81;
    border-radius: 7.5px;
    margin-top: 7.5px;
    text-align: center;
    margin-bottom: -15px;
    margin-top: 10px;
}

.avaliable-tag {
    font-weight: bold;
}

.fight-btn {
    background-color: #706f6f;
    color: #00ff81;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
}

.fight-btn:hover {
    background-color: #808080;
    color: #00ff81;
}

td {
    padding: 7px;
}

table {
    width: 100%;
}

#log{
    font-size: 14px;
    font-weight: normal;
}

.playerLog {
    color:#00ff81;
    text-align: center;
    margin-top: 15px;
}

.enemyLog {
    color:#ff5050;
    text-align: center;
    margin-top: 15px;
}

.effect {
    color:orange;
    text-align: center;
    margin-top: 15px;
}

.artwork {
    width: 100%;
    border: solid 2px #706f6f;
}

.attack-block {
    margin-right: 3px;
    margin-left: 3px;
    margin-top: 5px;
    background-color: #706f6f;
    color: #00ff81;
}

.attack-block:hover {
    background-color: #808080;
    color: #00ff81;
}

.tools-div {
    padding-right: 11px;
    padding-left: 11px;
}

.victory{
    color: #c164ad;
    font-size: 40px;
    text-align: center;
}

.loss{
    color: #ff5050;
    font-size: 40px;
    text-align: center;
}

.oppHP {
    text-align:right;
    color:#ff5050;
    padding-top:10px;
    font-size: 20px;
}

.hpLarge {
    font-size:25px;
}

.playerHP {
    color:#00ff81;
    padding-top:10px;
    font-size: 20px;
}

.oppName {
    text-align:right;
    color:#ff5050;
    padding-top:10px;
    font-size: 25px;
}

.playerName {
    color:#00ff81;
    padding-top:10px;
    font-size: 25px;
}

.fightBox {
    padding: 20px;
}

@media only screen and (max-width: 1000px) {
    .table-toHide {
      display:none;
    }
}